{% load static %}
<section class="trending_items">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>Мир уюта и комфорта для вашего сна</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single_product_item">
                    <div class="single_product_item_thumb">
                        <img src="{% static 'img/tranding_item/tranding_item_1.png' %}" alt="#" class="img-fluid">
                    </div>
                    <h3><a href="{% url 'shop' %}">Комфорт в каждом</a></h3>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_product_item">
                    <img src="{% static 'img/tranding_item/tranding_item_2.png' %}" alt="#" class="img-fluid">
                    <h3><a href="{% url 'shop' %}">Спокойный сон начинается здесь</a></h3>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_product_item">
                    <img src="{% static 'img/tranding_item/tranding_item_3.png' %}" alt="#" class="img-fluid">
                    <h3><a href="{% url 'shop' %}">Мягкость, в которую приятно засыпать</a></h3>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_product_item">
                    <img src="{% static 'img/tranding_item/tranding_item_4.png' %}" alt="#" class="img-fluid">
                    <h3><a href="{% url 'shop' %}">Комфорт на каждой кровати</a></h3>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_product_item">
                    <img src="{% static 'img/tranding_item/tranding_item_5.png' %}" alt="#" class="img-fluid">
                    <h3><a href="{% url 'shop' %}">Отдыхайте с удовольствиями</a></h3>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_product_item">
                    <img src="{% static 'img/tranding_item/tranding_item_6.png' %}" alt="#" class="img-fluid">
                    <h3><a href="{% url 'shop' %}">Каждая ночь — комфортная</a></h3>

                </div>
            </div>
        </div>
    </div>
</section>